#Principal{
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
#Encabezado{
    width:99%;
    display: flex;
}   
#Botones{
    flex: 2;
    align-content: flex-end;
}
.ButtonConfig{
    height: 30%;
    width: 15%;
    border-radius: 10px 10px 0px 0px;
}
#Titulo{
   
    flex: 3;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    
}
#Logo{

    flex: 1;
    
    display: flex;
    justify-content: center;
}
#ConfiLogo{
    width: 80%;
}
#CuerpoDiv{
    display: flex;
    flex-direction: row;
}
.ButtonConfigTd{
    width: 100%;
    height: 100%;
   
}
#TablaConfig{
    width: 100%;
}

.Ver{
    background-color: rgb(255, 255, 255);
    margin: 3px;
    border: solid 1px black;
}
.TdConfig{
    height: 8vw;
    background-color: rgb(255, 255, 255);
    margin: 3px;
    border: solid 2px black;
}
#CentroDiv{
    width: 100%;
}
#CentroBotones{
    height: 8vw;
    display: flex;
    flex-direction: row;
}
.ButtonConfigCentro{
    width: 100%;
}
#CentroTitulo{
   display: flex;
   justify-content: center; 
   flex-wrap: wrap;
   align-content: center;
   height: 10vw;
}
#DivTablasCentro{
    display: flex;
    flex-direction: row;
    height: 40vw;
}
#Tabla1{
    flex: 2;
}
#Tabla2{
    flex: 2;
}
#TablaC{
    width: 99%;
    height: 33vw;
}
#BotonDivInforme{
    display: flex;
    justify-content: end;
}
#BotonInforme{
    width: 30%;
    height: 7.2vw;
}