.DivPrincipal{background-color: white;width: 100%;height: 30%;
display: flex;}
.patua-one-regular {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;color: #00205c;}
.BotonesP{display: flex;justify-content:flex-start;width: 35%;height: 10%;margin-top: 50px;}
.Botones{border-radius: 7px 7px 0px 0px;color: #00205c;background-color: aliceblue;border-color: purple;}
.TextP{display: flex;justify-content: center;width: 30%;}
.LogoP{display: flex;width: 35%;justify-content: flex-end;}

.DivBody{width: 100%;height: 80vw;display: flex;}
.DivVideo{width: 79%;height: 85px;}
.DivBotonesB{width: 100%;height: 24.7%;}
.DivInfo{width: 80%;height: 50%;font-family:serif;text-align: center;}
.DivCatalogo{width: 100%;}
.BotonesMedio{width: 19%;height: 10%;}
.DivH{text-align: center;font-family: "Patua One", serif;font-weight: 400;color:#5d1989 ;}
.DivTamaños {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}
.DivImagenes {
    display: flex;flex-direction: column;
    width: 23%;height: 13vw;background-color: #c5e4e3;border-radius: 10px;margin-left: 10px;margin-top: 10px;
}
.imgP{width: 55%;height: 67%;margin-left: 55px;}
p1{color: #5d1989;font-family: 'AlpinaSans','Helvetica Neue',Helvetica,Arial,sans-serif;margin-left: 20px;margin-top: -6px;margin-right: 20px;}
p2{width: 40%;height: 20%;color: #241f48;margin-left: 20px;}

.DivFinal{flex-direction: row;justify-content: space-between;width: 100%;height: 30%;display: flex;background-color: #00205c;margin-top: 5px;border-radius: 10px 10px 0px 0px;}
.BotonesFinal{position: relative;width: 20%;height: 3vw;margin-top: 5px;margin-bottom: 20px;margin-right: 6px;border-radius: 5px;}
p3{color: white;font-family: "Patua One", serif;font-weight: 400;font-style: normal;margin-left: 5px;margin-top: 5px;}
